.list {
  color: var(--primary);
  text-decoration: underline;
}

.listSelect {
  width: 200px;

  @media (max-width: 640px) {
    width: 100%;
    max-width: 100%;
  }
}

.block {
  display: flex;
  align-items: anchor-center;
  gap: 16px;
  width: 230px;
}

.text {
  margin: 6px 0;
  color: var(--main);
  font-family: var(--font-bold);
  font-size: var(--text-sm);
}

.tableContainer {
  margin-top: 20px;
  width: 100%;
  padding: 1vw 24px;
  border-radius: var(--element-radius);
  border: 2px solid var(--primary);
  height: 74dvh;
  overflow: auto;

  @media (max-width: 640px) {
    height: 54dvh;
  }
}

.tableContainer.isWin {
  filter: blur(4px);
}

.form {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.table {
  width: 100%;
}

.button {
  margin-left: auto;
}

.wordRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tableTr {
  border-top: 1px solid var(--surface-white);
  position: relative;
}

.tableTr td {
  padding: 4px;
}

table tr:first-child {
  border: none;
}

.wordTd {
  min-width: 160px;

  @media (max-width: 640px) {
    min-width: 100px;
  }
}

.descriptionTd {
  min-width: 240px;
  width: 100%;
}

.blockWin {
  padding: 8px 16px;
  background-color: var(--surface-white);
  border-radius: 12px;
  position: relative;
  width: 350px;
  position: absolute;
  z-index: 10000;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute !important;
  top: 20px;
  right: 20px;
}

.blockWin h3 {
  margin: 20px 0;
  color: var(--success);
}

.buttonActionAfterTest {
  display: flex;
  column-gap: 12px;
  margin: 20px 0 8px 0;
  justify-content: space-between;

  button {
    width: 50%;
  }
}

.writeBlock {
  margin: 12px;
  font-size: var(--text-lg);
}

.doneButton {
  width: 100%;
  margin: 12px 0 8px;
}

.addedWordBlock {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 640px) {
    margin-top: 32px;
  }
}

.addedWordTitle {
  text-align: center;
  margin: 0;
}


.settings {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: start;
    gap: 6px;
  }
}
