input {
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-family: inherit;
  font-size: var(--text-base);
  color: var(--text);

  background-color: var(--background-secondary);
  border: 2px solid var(--background-secondary);
  border-radius: var(--element-radius);

  outline: none;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  color: var(--secondary);
}

input:hover:not(:disabled):not(.error) {
  border-color: var(--primary);
}

input:focus {
  border-color: var(--primary);
}

input.error {
  border-color: var(--error);
  color: var(--error);
}

input.error:focus {
  border-color: var(--error);
}

.error-message {
  font-size: 0.8rem;
  color: var(--error);
  margin-top: -4px;
  margin-left: 4px;
  font-weight: 500;
  animation: slideDown 0.2s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
