.label {
  color: var(--secondary);
  font-size: var(--text-lg);
  font-family: var(--font-bold);
  margin-bottom: 4px;
  display: block;

  @media (max-width: 640px) {
    font-size: var(--text-base);
  }
}
