.layout {
  min-height: 100vh;
  background-color: #f4f4f2;
  background-image:
    radial-gradient(at 80% 0%, rgba(229, 149, 0, 0.4) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgba(206, 106, 133, 0.4) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgba(103, 111, 84, 0.4) 0px, transparent 50%),
    linear-gradient(180deg, #f4f4f2 0%, #eaeaea 100%);
  background-attachment: fixed;
  background-size: cover;
  padding: 2vw 8vw;

  @media (max-width: 640px) {
    padding: 24px 12px;
  }
}
