.allWords {
  height: 80vh;
  background-color: var(--background-secondary);
  border-radius: var(--element-radius);
  border: 2px solid var(--primary);
  padding: 1vw 2vw;
}

.containerTabs.containerTabs {
  display: grid;
  grid-template-columns: 140px minmax(200px, calc(1000px - 140px));
  align-items: normal;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
