.inputContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 4px;

  @media (max-width: 640px) {
    gap: 8px;
  }
}

.button.button {
  display: block;
  margin-top: 24px;
  margin-left: auto;
}

.form {
  margin-bottom: 24px;

  @media (max-width: 640px) {
    margin-bottom: 12px;
  }
}

.errorText {
  margin: 0 auto;
  text-align: center;
  color: var(--error);
  font-size: var(--text-lg);
  font-family: var(--font-bold);
}

.textarea {
  margin-top: 20px;
}
