.inputContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.button.button {
  display: block;
  margin-top: 24px;
  margin-left: auto;
}

.learnWords {
  border-radius: var(--element-radius);
  border: 2px solid var(--primary);
  padding: 1vw 2vw;
  margin-top: 32px;
}
